<footer>
      <p class="copyright">
        Impressum
        <a
          href="https://www.wkoecg.at/Ecg.aspx?FirmaID=961a03fa-ef08-4827-854d-85fed0463c35&_ga=2.161793212.1888238834.1672323723-832547914.1654253026&_gl=1*1qlqecd*_ga*ODMyNTQ3OTE0LjE2NTQyNTMwMjY.*_ga_4YHGVSN5S4*MTY3MjM1NjY0Ni4yNy4xLjE2NzIzNTY4NDcuNTcuMC4w"
          target="_blank"
        >
          <img
            src="/img/ecg.webp"
            alt="Informationspflicht lt. ECG und Mediengesetz"
            loading="lazy"
            decoding="async"
            width="169"
            height="23"
          />
        </a>
      </p>
</footer>
